- if groups.any?
  = select_tag :q_group, options_from_collection_for_select(groups, 'GROUPNO', 'GROUPNAME', params[:q_group]), include_blank: 'Все категории', class: 'styler', data: {placeholder: 'КАТЕГОРИЯ ЗАПЧАСТЕЙ'}
- else
  = select_tag :q_group, options_from_collection_for_select(groups, 'GROUPNO', 'GROUPNAME'), include_blank: true, class: 'styler', data: {placeholder: 'КАТЕГОРИЯ ЗАПЧАСТЕЙ'}, disabled: true

