<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA_yQ39LCgQP3gcqWvYyOEyU6eHU2cULc"></script>
<div id="pages-map"></div>

<%= render 'pages/map_script', id: 'pages-map', all_shops: defined?(all_shops) %>

