- if @cart.line_items.pluck(:product_id).include?(product.id)
  = link_to image_tag('icons/to_cart_white.png'), cart_path
  = link_to 'В корзине', cart_path
- else
  = link_to image_tag('icons/to_cart_white.png'), add_part_cart_path, remote: true, method: :post, data: {product_id: product.id}
  = link_to 'Добавить', add_part_cart_path, remote: true, method: :post, data: {product_id: product.id}
